{% extends 'base.html' %}
{% block styles %}
    {{ block.super }}
    <style>
        body {
            background-color: #306998;
        }
    </style>
{% endblock %}
{% block body_class %}
{% endblock %}
{% block content %}
    <div class="section" style="height: 100vh">
        <div class="row" style="margin-top: 100px">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <form class="white-text" method="post"
                      action="{% url 'home:register' %}">
                    {% csrf_token %}
                    <div class="row center-align">
                        <a href="{% url 'home:index' %}" class="white-text">
                            <h4>Daily Python Tip</h4></a>
                        <hr style="width: 30%">
                        <h6>Register</h6>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name"
                                   type="text" class="validate white-text"
                                   required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name"
                                   type="text"
                                   class="validate white-text" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email"
                                   class="validate white-text"
                                   required>
                            <label for="email">Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password"
                                   type="password"
                                   class="validate white-text" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="input-field col s12">
                            <button class="waves-effect waves-light btn
                            hoverable" type="submit">
                                <i class="material-icons right">send</i>Continue
                                to Twitter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}