{% load el_pagination_tags %}
{% lazy_paginate tips %}
{% for tip in tips %}
    <div class="col s12 m4">
        <div class="card small scrolling z-depth-3 yellow lighten-4">
            <div class="card-content grey-text text-darken-2 left-align">
                <span class="card-title">{{ tip.author }}
                <span class="right"><i class="material-icons">favorite</i>
                    {{ tip.total_likes }} <i class="material-icons">cached</i>
                    {{ tip.total_retweets }}
                </span> </span>
                <p style="white-space: pre-wrap">{{ tip.text|safe|linebreaksbr }}</p>
            </div>
            {% if tip.has_link %}
                <div class="card-action center-align">
                    {% for tiplink in tip.tiplink_set.all %}
                        <a href="{{ tiplink.link|safe }}" target="_blank"
                        >{{ tiplink.link|safe }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="center-align">
    {% show_more %}
</div>