{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <style>
        body {
            display: flex !important;
            min-height: 100vh !important;
            flex-direction: column !important;
        }

        main {
            flex: 1 0 auto !important;
        }

        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>
{% endblock %}
{% block header %}
    <header>
        <nav>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <div class="nav-wrapper">
                <a class="brand-logo center">Daily Python Tip</a>
            </div>
        </nav>
    </header>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view center-align" style="background-color:
            #306998">
                <div>
                    <img class="circle"
                         style="margin: auto!important; width: 150px; height: 150px"
                         src="{% static 'img/logo.jpg' %}">
                </div>
                {% if not user.is_authenticated %}
                    <p><span class="white-text name
                    text-darken-3">Welcome,
                        Pythonista</span></p><br>
                {% else %}
                    <p><span class="white-text name">Welcome,
                        {{ user.get_full_name }}</span>
                    </p>
                    <p><span class="white-text email">
                    {{ user.email }}</span></p>
                {% endif %}
            </div>
        </li>
        <li><a class="waves-effect waves-yellow waves-ripple"
               href="{% url 'home:index' %}"><i class="material-icons">home</i>Home
        </a></li>
        <li><a href="{% url 'home:retrieve-today' %}"
               class="waves-effect waves-yellow waves-ripple"><i
                class="material-icons">today</i>Tip of the day
        </a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header"><i
                            class="material-icons">filter_alt</i>Categories<i
                            class="material-icons right">expand_more</i></a>
                    <div class="collapsible-body">
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    <a class="waves-effect waves-yellow waves-ripple"
                                       href="{% url 'home:filter-tag' tag.name %}">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Sort all Tweets by:</a></li>
        <li><a class="waves-effect waves-yellow waves-ripple"
               href="{% url 'home:sort-tips' 'likes' %}"><i
                class="material-icons">favorite</i>Twitter
            Likes</a></li>
        <li><a class="waves-effect waves-yellow waves-ripple"
               href="{% url 'home:sort-tips' 'retweets' %}"><i
                class="material-icons">cached</i>Twitter Retweets</a></li>
        <li><a class="waves-effect waves-yellow waves-ripple"
               href="{% url 'home:sort-tips' 'recent' %}"><i
                class="material-icons">history</i>Most Recent</a></li>
        <li>
            <div class="divider"></div>
        </li>
        {% if user.is_authenticated %}
            <li><a class="waves-effect waves-yellow waves-ripple"
                   href="{% url 'home:logout' %}"><i
                    class="material-icons">logout</i>Sign Out</a></li>
        {% else %}
            <li><a class="waves-effect waves-yellow waves-ripple"
                   href="{% url 'home:register' %}"><i
                    class="material-icons">how_to_reg</i>Register</a></li>
            <li><a class="waves-effect waves-yellow waves-ripple"
                   href="{% url 'home:login' %}"><i
                    class="material-icons">login</i>Sign In</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block footer %}
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2021 Elizabeth Adegbaju
                <a class="grey-text text-lighten-4 right"
                   href="{% url 'home:retrieve-today' %}">Go to
                    Tip of the Day</a>
            </div>
        </div>
    </footer>
{% endblock %}
