{% extends 'base_nav.html' %}
{% block content %}
    <div class="row">
        {% for tip in tips %}
            <div class="col s12 m4 l3">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ tip.author }}</span>
                        <p>{{ tip.text|safe }}</p>
                    </div>
                    {% if tip.has_link %}
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}